@charset "UTF-8";
/*reset*/
li { list-style: none; }

a, a:hover, a:active, a:visited, a:link { color: #000; text-decoration: none; }

img { border: 0; }

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin: 0; padding: 0; font-family: "微软雅黑"; }

/*index页面&公用部分*/
/*顶部导航部分&轮播图*/
@media (min-width: 768px) { #navbar-header { height: 138px; }
  #navbar-nav { margin-top: 44px; }
  .banner-padding { padding-top: 138px; } }
@media (max-width: 767px) { #logo { padding: 0 15px; }
  #navbar-header { height: 108px; }
  .banner-padding { padding-top: 108px; } }
.navbar { background: #fff; }

.navbar { border-bottom: 0; }

.carousel .left { background: url(../image/icon/banner-l.png) no-repeat center; cursor: pointer; box-shadow: 0 0 0; }
.carousel .right { background: url(../image/icon/banner-r.png) no-repeat center; cursor: pointer; box-shadow: 0 0 0; }

.about { padding: 50px 10%; text-align: center; }
@media (max-width: 767px) { .about { padding: 15px; } }
.about p { margin: 30px 0; font-size: 14px; line-height: 30px; color: #696969; text-align: left; }
h2.title { margin: 40px 0; font-size: 24px; font-weight: bold; }
h2.title span { margin-right: 30px; font-size: 34px; position: relative; }
h2.title span b { display: block; position: absolute; bottom: -10px; right: -30px; width: 40px; height: 4px; background: #000; }

.more { font-size: 20px; border: 1px #616161 solid; color: #868686; display: inline-block; border-radius: 10px; padding: 5px 20px; cursor: pointer; margin-top: 10px; }
.more span { margin-left: 20px; }

.projects { padding: 40px 0; text-align: center; margin: 0 auto; width: 80%; border-bottom: 2px solid #ccc; border-top: 2px solid #ccc; }
@media (max-width: 768px) { .projects { padding: 15px; border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; width: 100%; } }
.projects .projects-cont { padding: 0 5%; }
.projects .projects-cont div { margin: 10px 0; }
.projects .projects-cont div img { width: 100%; }

.news { padding: 40px 0; text-align: center; overflow: hidden; }
@media (max-width: 768px) { .news { padding: 15px; border-top: 2px solid #ccc; border-bottom: 2px solid #ccc; width: 100%; } }
.news .news-cont { position: relative; width: 80%; margin: 40px auto 0; padding: 0 5%; position: relative; }
.news .news-cont .btn-l { position: absolute; height: 30px; left: -30px; top: 25%; background: url(../image/icon/button-l.png) no-repeat center; background-size: contain; cursor: pointer; }
.news .news-cont .btn-r { position: absolute; height: 30px; right: -30px; top: 25%; left: auto; background: url(../image/icon/button-r.png) no-repeat center; background-size: contain; cursor: pointer; }
.news .news-cont .news-cont1 { padding: 0; margin-left: 5.5%; }
.news .news-cont .news-cont1 img { width: 100%; }
.news .news-cont .news-cont1 .news-info { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: rgba(0, 0, 0, 0.3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); font-size: 14px; color: #fff; margin: 0; text-align: left; display: none; }
.news .news-cont .news-cont1 .news-info p { padding-top: 30px; }

.banner_center img { width: 100%; height: auto; }

.team-core { text-align: center; border-bottom: 2px solid #ccc; }
.team-core .team-core-cont { width: 60%; margin: 40px auto; }
.team-core .team-core-cont img { width: 100%; }
.team-core .team-core-cont img:hover { border: 1px solid gray; }
.team-core .team-core-cont h3 { margin-top: 14px; height: 64px; line-height: 64px; font-size: 20px; }
.team-core .team-core-cont p { color: #b5b6b6; font-size: 12px; line-height: 20px; }
@media (max-width: 767px) { .team-core .team-core-cont { width: 100%; } }

.business { padding: 40px 10%; border-bottom: 2px solid #ccc; text-align: center; }
@media (max-width: 767px) { .business { padding: 40px 15px; } }
.business dl { overflow: hidden; }
.business dl dt { text-align: center; }
.business dl dt img { width: 60%; }
.business dl dd { text-align: left; height: 150px; }
.business dl dd h4 { height: 40px; line-height: 40px; font-size: 20px; }
.business dl dd p { margin: 5px 0; line-height: 20px; font-size: 12px; color: #b5b6b6; }
.business .dl1 { margin-bottom: 25px; }
.business .dl1 dd { border-bottom: 1px dashed #ccc; }

.clients { padding: 40px; text-align: center; }
@media (max-width: 767px) { .clients { padding: 40px 15px; } }
.clients .clients-cont { margin: 40px 0; }
.clients .clients-cont > div { padding: 0; }
.clients .clients-cont > div img { width: 100%; cursor: pointer; border: 1px solid #ddd; }
.clients .clients-cont > div img:hover { border: 1px solid gray; }
.clients .btn-clients { display: inline-block; }
.clients .btn-clients a { padding: 0px 25px; border: 1px solid #ccc; font-size: 28px; cursor: pointer; position: static; background: 0; color: #000; opacity: 1; text-shadow: 0 0 0; }
.clients .btn-clients .left { border-top-left-radius: 10px; border-bottom-left-radius: 10px; color: #bebebe; }
.clients .btn-clients .right { border-top-right-radius: 10px; border-bottom-right-radius: 10px; color: #bebebe; }

.footer { background: #f0edeb; width: 100%; }
.footer .footer-cont { height: auto; }
.footer .footer-cont .footer-l { margin-top: 30px; }
.footer .footer-cont .footer-l h2 { line-height: 60px; font-size: 34px; text-align: center; font-weight: bold; }
.footer .footer-cont .footer-l p { margin: 14px 0; line-height: 16px; font-size: 12px; color: #8a8a8b; }
.footer .footer-cont .footer-c { margin-top: 30px; border-left: 1px dashed #ccc; border-right: 1px dashed #ccc; }
.footer .footer-cont .footer-c dl { font-size: 18px; overflow: hidden; }
.footer .footer-cont .footer-c dl dt { float: left; line-height: 40px; background: url(../image/icon/phone.png) no-repeat left center; padding-left: 30px; }
.footer .footer-cont .footer-c dl dd { float: left; line-height: 40px; }
.footer .footer-cont .footer-c dl dd a { color: #333; }
.footer .footer-cont .footer-c .footer-c2 dt { background: url(../image/icon/map.png) no-repeat left center; }
.footer .footer-cont .footer-c .footer-c3 dt { background: url(../image/icon/email.png) no-repeat left center; }
.footer .footer-cont .footer-r { margin-top: 30px; text-align: center; font-size: 16px; line-height: 44px; }
.footer .footer-cont .footer-r img { width: 50%; height: auto; }
@media (max-width: 767px) { .footer .footer-cont .footer-l, .footer .footer-cont .footer-c { width: 70%; margin: 10px 15%; border: 0; }
  .footer .footer-cont .footer-r { width: 60%; margin: 10px 20%; } }
.footer .copyright { text-align: center; line-height: 24px; font-size: 16px; color: #afb0b0; padding: 40px 0; }

/*资讯页面*/
.zixun-banner { padding: 40px 0 50px 0; background-image: url(../image/资讯/zixun-banner.jpg); color: #fff; text-align: center; }
.zixun-banner h2 { font-size: 54px; line-height: 54px; margin-top: 40px; }
.zixun-banner p { line-height: 42px; font-size: 14px; }
@media (max-width: 767px) { .zixun-banner h2 { font-size: 30px; line-height: 30px; margin-top: 20px; }
  .zixun-banner p { line-height: 22px; font-size: 12px; } }

.zixun-articles { padding: 50px 5% 0; }
@media (max-width: 767px) { .zixun-articles { padding: 0 15px; } }
.zixun-articles dl { overflow: hidden; padding: 50px 0; border-bottom: 1px dashed #ccc; }
.zixun-articles dl dt img { width: 100%; }
.zixun-articles dl dd h3 { line-height: 36px; font-size: 26px; }
.zixun-articles dl dd h3 span { font-size: 14px; color: #7b7b7b; float: right; font-weight: 100; }
.zixun-articles dl dd b { width: 50px; height: 4px; background: #000; margin: 10px 0 20px 0; display: block; }
.zixun-articles dl dd p { margin-bottom: 20px; font-size: 14px; line-height: 34px; color: #9d9d9d; }
.zixun-articles dl:nth-last-child(1) { border-bottom: 0; }
.zixun-pages img { margin-top: -5px; cursor: pointer; }
.zixun-pages .pages { height: 46px; line-height: 46px; margin-top: 50px; margin-bottom: 100px; display: inline-block; }
.zixun-pages .pages a { padding: 10px 12px 20px 12px; margin: 0 10px; font-size: 20px; color: #5B5B5B; cursor: pointer; }
.zixun-pages .pages a:hover { border-bottom: 1px solid #5b5b5b; }
.zixun-pages .pages a.page-active { border-bottom: 1px solid #5b5b5b; }

.recommend { margin-bottom: 100px; }
.recommend .recommend-tl { height: 36px; margin-bottom: 40px; line-height: 36px; font-size: 24px; position: relative; text-indent: 2em; }
.recommend .recommend-tl span { display: inline-block; width: 12px; height: 36px; background: #000; position: absolute; left: 0; top: 0; }
.recommend .recommend-cont { padding: 0 30px; }
@media (max-width: 767px) { .recommend .recommend-cont { padding: 0; } }
.recommend .recommend-cont dl dt img { width: 100%; cursor: pointer; }
.recommend .recommend-cont dl .dd1 { margin-top: 10px; line-height: 26px; font-size: 18px; }
.recommend .recommend-cont dl .dd1 span { float: right; font-size: 12px; color: #aaa; cursor: pointer; }
.recommend .recommend-cont dl .dd2 { font-size: 14px; line-height: 24px; color: #9c9c9c; }

/*作品页面*/
.projects-nav { padding: 40px 0; text-align: center; }
.projects-nav p { line-height: 58px; font-size: 20px; }
.projects-nav p a { border: 2px solid #000; border-radius: 15px; padding: 12px 15px; margin-left: 2%; }
.projects-nav p a:hover { color: #fff; background: #000; }
.projects-nav p a.active-pro { color: #fff; background: #000; }

.projects-main { padding: 0 5%; text-align: center; }
.projects-main dl dt img { width: 100%; }
.projects-main dl dt img:hover { border: 1px solid gray; }
.projects-main dl .dd1 { margin-top: 18px; font-size: 20px; line-height: 34px; }
.projects-main dl .dd2 { line-height: 34px; font-size: 14px; margin-bottom: 48px; }

/*资讯-详情*/
.company { padding: 80px 0 0; }
@media (max-width: 767px) { .company { padding-top: 40px; } }
.company .company-name { border-bottom: 1px solid #ccc; padding: 0 10%; margin: 0 10%; text-align: left; }
@media (max-width: 767px) { .company .company-name { padding: 0; } }
.company .company-name h2 { font-size: 34px; line-height: 34px; margin-bottom: 25px; }
.company .company-name p { font-size: 14px; line-height: 14px; margin-bottom: 30px; }
.company .company-name p em { font-style: normal; float: right; }
.company .company-case { padding: 0 20%; }
@media (max-width: 767px) { .company .company-case { padding: 0 15px; } }
.company .company-case .p1 { margin-top: 50px; line-height: 34px; font-size: 14px; }
.company .company-case .p1 b { background: #000; color: #fff; padding: 3px 5px; border-radius: 5px; margin-right: 20px; }
.company .company-case .p2 { margin-top: 34px; margin-bottom: 26px; line-height: 34px; font-size: 14px; }
.company .company-case .p2 b { background: #000; color: #fff; padding: 3px 5px; border-radius: 5px; margin-right: 20px; }
.company .company-case > img { width: 100%; margin-bottom: 20px; }
.share { text-align: right; padding: 40px 0 20px 0; border-bottom: 1px solid #ccc; position: relative; }
.share #share { position: absolute; right: 0; top: 20px; }
.share .jiathis_style_32x32 .jtico { background: url(../image/icon/share.png) no-repeat left !important; }
.share .jiathis_style_32x32 .jtico_weixin { background-position-y: 0px !important; }
.share .jiathis_style_32x32 .jtico_tsina { background-position-y: -32px !important; }
.share .jiathis_style_32x32 .jtico_twitter { background-position: 0 -64px !important; }
.share .jiathis_style_32x32 .jtico_fb { background-position: 0px -96px !important; }
.company .btn { width: 100%; padding: 36px 0 100px 0; }

.recommend-case .recommend-cont { text-align: center; }

/*商品*/
.title-goods { margin: 40px 0; line-height: 50px; }
.title-goods p { font-size: 40px; font-weight: bold; }
@media (max-width: 767px) { .title-goods p { font-size: 30px; line-height: 40px; } }
.title-goods span { font-size: 30px; position: relative; letter-spacing: 5px; }
@media (max-width: 767px) { .title-goods span { font-size: 24px; } }
.title-goods span:before { content: ''; display: inline-block; width: 50px; height: 3px; position: absolute; left: -60px; top: 20px; background: #342f40; }
.title-goods span:after { content: ''; display: inline-block; width: 50px; height: 3px; position: absolute; right: -60px; top: 20px; background: #342f40; }
.hot .hot-cont dl { overflow: hidden; }
.hot .hot-cont dl img { width: 100%; }
.hot .hot-cont dl dt { float: left; position: relative; padding: 0; border: 3px solid #fff; }
.hot .hot-cont dl dt .hot-cont-l { position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); width: 100%; height: 100%; color: #fff; padding: 10% 0 0 10%; font-weight: 100; display: none; }
.hot .hot-cont dl dt .hot-cont-l h3 { font-size: 30px; position: relative; line-height: 80px; }
.hot .hot-cont dl dt .hot-cont-l h3 span { font-size: 22px; margin-left: 10px; }
.hot .hot-cont dl dt .hot-cont-l h3 b { position: absolute; width: 50px; height: 3px; background: #fff; left: 0; bottom: 0; }
.hot .hot-cont dl dt .hot-cont-l p { line-height: 20px; font-size: 14px; margin: 20px 0 20px; width: 60%; }
.hot .hot-cont dl dt .hot-cont-l .more-hot { color: #fff; border-color: #fff; border-radius: 20px; border: 1px solid #fff; display: inline-block; padding: 5px 15px; }
.hot .hot-cont dl dt .hot-cont-l .more-hot span { margin-left: 10px; }
.hot .hot-cont dl dd { float: left; position: relative; padding: 0; border: 3px solid #fff; }
.hot .hot-cont dl dd .hot-cont-r { position: absolute; left: 0; top: 0; background: rgba(0, 0, 0, 0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); width: 100%; height: 100%; color: #fff; padding: 5% 0 0 5%; font-weight: 100; display: none; }
.hot .hot-cont dl dd .hot-cont-r h3 { font-size: 30px; position: relative; line-height: 60px; }
@media (max-width: 767px) { .hot .hot-cont dl dd .hot-cont-r h3 { font-size: 24px; line-height: 40px; } }
.hot .hot-cont dl dd .hot-cont-r h3 span { font-size: 22px; margin-left: 10px; }
.hot .hot-cont dl dd .hot-cont-r h3 b { position: absolute; width: 50px; height: 3px; background: #fff; left: 0; bottom: 0; }
.hot .hot-cont dl dd .hot-cont-r p { line-height: 20px; font-size: 14px; margin: 20px 0 20px; width: 70%; }
.hot .hot-cont dl dd .hot-cont-r .more-hot { color: #fff; border-color: #fff; border-radius: 20px; border: 1px solid #fff; display: inline-block; padding: 5px 15px; }
.hot .hot-cont dl dd .hot-cont-r .more-hot span { margin-left: 10px; }
.hot .hot-cont dl > p { height: 30px; width: 60%; float: left; }

/*商品所有分类*/
.all { text-align: center; }
.all h2 { margin: 54px 0 40px 0; }
.all .all-tl { overflow: hidden; }
.all .all-tl li:hover { background: #efefef; }
.all .all-tl li.active-all { background: #efefef; }
.all .all-tl li img { cursor: pointer; width: 100%; }
.all .all-tl li p { line-height: 50px; font-size: 18px; }
.all .all-cont { overflow: hidden; border-top: 1px solid #ccc; padding-top: 50px; }
.all .all-cont li { margin-bottom: 50px; }
.all .all-cont li:hover img { border: 1px solid gray; }
.all .all-cont li img { width: 100%; }
.all .all-cont li h4 { font-size: 16px; line-height: 30px; text-align: left; text-indent: 20px; }
.all .all-cont li h4 span { font-size: 12px; color: #5b5b5b; float: right; }
.all .all-cont li p { font-size: 12px; line-height: 20px; color: #5b5b5b; text-align: left; text-indent: 20px; }

.good { padding: 70px 5%; }
.good dl dt img { width: 100%; }
.good dl dd h2 { margin-top: 50px; font-size: 40px; line-height: 60px; }
.good dl dd > b { width: 60px; height: 4px; background: #000; display: inline-block; }
.good dl dd p.info { font-size: 14px; color: #C0C0C0; line-height: 18px; margin: 10px 0 30px; }
.good dl dd p.price { font-size: 38px; line-height: 80px; }
.good dl dd p.price b { font-size: 60px; }
.good dl dd span { color: #fff; background: #000; padding: 10px 20px; border-radius: 10px; }
.good dl .share { border-bottom: 1px solid #000; }
.good > p { padding: 0 20% 0 10px; font-size: 12px; color: #6b6a6a; line-height: 18px; margin-top: 30px; }
.good .good-imgs { padding: 0 21% 50px 10px; border-bottom: 1px solid #ccc; text-align: center; }
.good .good-imgs img { margin-top: 20px; width: 98%; }

.recommend-goods dl dd:nth-child(2) { font-size: 20px; }
.recommend-goods dl dd:nth-child(2) span { font-size: 12px; float: right; color: #5B5B5B; }

/*关于页面*/
.about-all .about-us { padding: 5%; }
.about-all .about-us .about-cont1 .about-cont1-l .about-tl1 { padding-left: 20px; border-left: 5px solid #000; }
.about-all .about-us .about-cont1 .about-cont1-l .about-tl1 h2 { font-size: 80px; }
.about-all .about-us .about-cont1 .about-cont1-l .about-tl1 h3 { font-size: 30px; }
.about-all .about-us .about-cont1 .about-cont1-l .about-tl1 h4 { font-size: 20px; }
.about-all .about-us .about-cont1 .about-cont1-l .about-tl1 strong { width: 40px; height: 5px; background: #000; display: inline-block; }
.about-all .about-us .about-cont1 .about-cont1-l p { margin: 20px 0; font-size: 14px; line-height: 30px; color: #6f6f6f; }
.about-all .about-us .about-cont1 .about-cont1-r { text-align: center; padding: 50px 0; }
.about-all .about-us .about-cont1 .about-cont1-r img { width: 80%; }
.about-all .about-member { background: #f0edeb; padding: 5%; }
.about-all .about-member > div.row { overflow: hidden; }
.about-all .about-member > div.row ul { overflow: hidden; margin-top: 50px; }
.about-all .about-member > div.row ul li { margin-bottom: 20px; text-align: center; padding-bottom: 20px; }
.about-all .about-member > div.row ul li img { width: 100%; cursor: pointer; }
.about-all .about-member > div.row ul li p { font-size: 18px; line-height: 36px; margin-top: 10px; }
.about-all .about-member > div.row ul li span { font-size: 12px; }
.about-all .about-member .about-tl2 { padding-right: 20px; text-align: right; border-right: 5px solid #000; }
.about-all .about-member .about-tl2 h2 { font-size: 80px; }
.about-all .about-member .about-tl2 h3 { font-size: 30px; }
.about-all .about-member .about-tl2 h4 { font-size: 20px; }
.about-all .about-member .about-tl2 strong { width: 40px; height: 5px; background: #000; display: inline-block; }
.about-all .about-clients { padding: 5%; }
.about-all .about-clients .row .about-cont3-l .about-tl3 { padding-left: 20px; border-left: 5px solid #000; }
.about-all .about-clients .row .about-cont3-l .about-tl3 h2 { font-size: 80px; }
.about-all .about-clients .row .about-cont3-l .about-tl3 h3 { font-size: 30px; }
.about-all .about-clients .row .about-cont3-l .about-tl3 h4 { font-size: 18px; font-weight: bold; }
.about-all .about-clients .row .about-cont3-l .about-tl3 strong { width: 40px; height: 5px; background: #000; display: inline-block; }
.about-all .about-clients .row .about-cont3-r ul { overflow: hidden; padding-top: 50px; }
.about-all .about-clients .row .about-cont3-r ul li { padding: 0; }
.about-all .about-clients .row .about-cont3-r ul li img { width: 100%; cursor: pointer; }

.about-banner-center img { width: 100%; }

.recruit { padding: 0 10%; border-bottom: 1px solid #ccc; }
@media (max-width: 767px) { .recruit { padding: 0; } }
.recruit h2 { margin: 54px 0 40px 0; text-align: center; }
.recruit .recruit-person { margin-left: 15%; }
.recruit .recruit-person h4 { padding-left: 30px; background: url(../image/icon/icon-s.png) no-repeat left center; font-size: 20px; line-height: 40px; }
.recruit .recruit-person dl { padding-left: 30px; font-size: 14px; line-height: 20px; color: #b1b1b2; margin-bottom: 30px; }
.recruit dl.fare { margin-left: 15%; padding-left: 30px; font-size: 14px; line-height: 20px; color: #b1b1b2; margin-bottom: 30px; }

.contact { padding: 0px 0 40px; }
.contact h2 { margin: 54px 0 40px; text-align: center; }
.contact .contact-cont { background-image: url(../image/关于/关于6.png); background-size: 100% 100%; background-repeat: no-repeat; overflow: hidden; }
.contact .contact-cont .contact-cont-left { background: #f0edeb; padding: 50px 50px 0; height: 400px; }
.contact .contact-cont .contact-cont-left h3 { font-size: 30px; line-height: 50px; }
.contact .contact-cont .contact-cont-left b { width: 50px; height: 5px; background: #000; display: inline-block; }
.contact .contact-cont .contact-cont-left .contact-way { margin: 30px 0; }
.contact .contact-cont .contact-cont-left .contact-way dl { overflow: hidden; font-size: 14px; }
.contact .contact-cont .contact-cont-left .contact-way dl dt { float: left; background: url(../image/icon/phone.png) no-repeat left center; padding-left: 30px; line-height: 30px; }
.contact .contact-cont .contact-cont-left .contact-way dl dd { float: left; line-height: 30px; }
.contact .contact-cont .contact-cont-left .contact-way .contact-way2 dt { background-image: url(../image/icon/map.png); }
.contact .contact-cont .contact-cont-left .contact-way .contact-way3 dt { background-image: url(../image/icon/email.png); }
.contact .contact-cont .contact-cont-right1 { padding: 0; }
.contact .contact-cont .contact-cont-right1 #allmap { width: 100%; height: 400px; }
.contact .contact-cont .contact-cont-right2 { background: #9d9d9c; padding: 15px; }
.contact .contact-cont .contact-cont-right2 form { background: #fff; padding: 10px; margin: 20px; }
.contact .contact-cont .contact-cont-right2 form label { text-align: left; }
.contact .contact-cont .contact-cont-right2 form input { border: 0; border-bottom: 1px solid #ccc; }
.contact .contact-cont .contact-cont-right2 form .name { font-size: 20px; line-height: 60px; text-align: center; }
.contact .contact-cont .contact-cont-right2 form textarea { padding: 0; width: 100%; }

.form-horizontal .form-group { margin-right: 0px; margin-left: 0px; }

#bg-shadow { background: rgba(0, 0, 0, 0.5); width: 100%; position: absolute; left: 0; top: 0; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000); }

/*关于页面之--设计师详情*/
#about-member-detail > div.row { text-align: center; }
#about-member-detail > div.row .person-img { margin-top: 15%; }
#about-member-detail > div.row .person-img img { width: 80%; margin-left: 5%; }
#about-member-detail > div.row .person-info { margin-top: 15%; color: #fff; text-align: left; }
#about-member-detail > div.row .person-info h3 { font-size: 18px; line-height: 30px; margin-bottom: 10px; color: #e4e4e4; }
#about-member-detail > div.row .person-info p.name { font-size: 18px; line-height: 30px; color: #dadbdb; }
#about-member-detail > div.row .person-info span { font-size: 14px; line-height: 18px; color: #bbbbbc; }
#about-member-detail > div.row .person-info p.experience { font-size: 12px; line-height: 18px; padding: 25px 0; margin-top: 25px; border-top: 2px solid #fff; padding-right: 20%; color: #c8c9c9; }

/*# sourceMappingURL=common.css.map */
